.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  align-items: center;
  margin-right: 25px;
  flex-wrap: wrap;
}
